body{
    margin:0;
    padding: 0;
    font-family:'Roboto', Arial, sans-serif;
    background: #8b0000;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    background: rba(0,0,0,0.7);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

h2{
    color: #ffcc00;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input{
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
}

button{
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s, background 0.3s;
    cursor: pointer;
}

button:hover{
    background: #ff4500;
    transform: scale(1.1);
}