body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

#btnEntrenadores {
  display: none; 
}

h1, h2 {
  color: #b22222;
}

a, button {
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  background: #b22222;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

a:hover, button:hover {
  background: #ff4500;
}